body{
  font-family: Arial;
}

.todo-name{
  padding: 8px;
  font-size: 15px;
 
}
.due-date-input{
  padding: 7px;
  font-size: 14px;
}

.add-button{
  font-size: 15px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 10px 0px;
}

.todo-grid, .todo-input-grid{
  display: grid;
  grid-template-columns: 220px 160px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.delete-todo-button{
  font-size: 15px;
  border: none;
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 10px 0px;
}

