body{
  font-family: Roboto;
  margin: 0;
}
.product-image{
  width: 160px;
  height: 180px;
}

.product-description{
 width: 200px;
 margin-top: 17px;
 margin-bottom: 9px;
}

.product-rating-star{
  width: 100px;
  margin-right: 6px;
}

.rating-container{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 12px;
}

.product-price{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;
}

.quantity-drop-down{
  color: black;
  background-color: rgb(237, 237, 237);
  border-radius: 7px;
  padding: 4px;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  font-size: 15px;
  cursor: pointer;
}

.add-to-cart-button{
  padding: 9px 65px;
  border: none;
  margin-top: 49px;
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  border-radius: 20px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: rgb(247, 202, 0);
  border: 1px solid rgb(242, 194, 0);
}

.add-to-cart-button:active{
  background: rgb(255, 216, 20);
  border-color: rgb(252, 210, 0);
  box-shadow: none;
}


