body{
  font-family: Roboto, Arial;
}
.header-main-amazon{
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  
  background-color: rgb(19, 25, 33);
  height: 60px;
  margin-bottom: 40px;
  align-items: center;
}

.left-section{
  width: 130px;
  margin-right: 160px;
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  /* width: 0; */
}

.amazon-logo{
  width: 100px;
  margin-left: 23px;
  vertical-align: top;
  margin-top: 13px;
}

.middle-section{
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 850px;
  justify-content: center;
  align-items: center;

}
.search-box{
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 38px;
  border: none;
  width: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-logo{
  height: 22px;
}

.button-search-logo{
  height: 40px;
  width: 45px;
  margin-left: -1px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-section{
  margin-left: 120px;
  display: flex;
  color: white;
  align-items: center;
  
}

.cart-icon{
  width: 50px;
  height: 35px;
  display: inline;
  margin-top: 3px;
  position: relative;
}

.returns-orders-header{
  margin-right: 10px;
}

.orders-header{
  margin-bottom: 0px;
  margin-top: -10px;
  padding-top: -5px;
  padding: 0;
  margin-top: 0px;
  font-family: Roboto,Arial;
}

.returns-header{
  margin-bottom: -5px;
  margin-top: 0px;
  padding: 0;
  font-weight: 400;
  font-family: Roboto,Arial;
}

.cart-text-icon-header{
  font-weight: 600;
  font-family: Roboto,Arial;

}
.item-count{
  position: absolute;
  text-align: center;
  top: 6px;
  right: 53px;
  font-size: 18px;
  color: rgb(232, 75, 19);
  font-family: Roboto,Arial;

}